.button-set {
    display: flex;
    justify-content: center;
    margin-bottom: 50px;
}

.button-set__item {
    margin-right: 8px;
    
    &:last-child {
    margin-right: 0;
    }
}

.button-set__btn {
    padding: 6px 22px;

    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;

    border-radius: 4px;
    border-color: transparent;
    color: var(--secondary-text-color);
    background-color: var(--secondary-bg-color);
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
        background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,&:focus {
    color: #ffffff;
    background-color: var(--accent-color);
    outline: none;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    }
}

