.socials-list {
    display: flex;
    margin: 0 auto 30px auto;
    justify-content: center;
}

.socials-list__item {
    margin-right: 10px;
    background-color: #ffffff;
    border-radius: 50%;
    &:last-child {
    margin-right: 0;
    }
}

.socials-list__link {
    display: block;
    border-radius: 50%;
    color: #ffffff;
    fill: rgba(175, 177, 184, 1);
    padding: 12px;

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,&:focus {
    background-color: var(--accent-color);
    fill: currentColor;
    outline: none;
    }
}

.socials-list__icon {
    width: 20px;
    height: 20px;

    display: block;
}

.socials-list__item--dark {
    background-color: rgba(255, 255, 255, 0.1);
}

.socials-list__icon--white {
    fill: #ffffff;
}