body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    color: var(--main-text-color);
}

.list {
    list-style: none;
}



.link {
    text-decoration: none;
}



.section {
    padding-top: 94px;
    padding-bottom: 94px;
}