:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --main-bg-color: #e5e5e5;
  --card-bg-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

a.current {
  color: var(--accent-color);
}

.contacts {
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: inherit;
}
.contacts:hover,
.contacts:focus {
  color: var(--accent-color);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  color: var(--title-color);
}

.logo-color {
  color: #2196f3;
}
/* ------------------------------------HEADER------------------------------------ */
.header {
  font-weight: 500;
  line-height: 16px;
  letter-spacing: 0.02em;
  background-color: #ffffff;
}

.header-link {
  font-style: inherit;
  color: var(--secondary-text-color);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: var(--title-color);
}

/* --------------------------------------HERO------------------------------- */
.hero {
  background-color: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--card-bg-color);
}

/* --------------------------------------Features------------------------------- */
.features {
  background-color: var(--main-bg-color);
}

.features-title {
  font-weight: 700;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--title-color);
}
/* --------------------------------------ABOUT------------------------------- */

.about {
  background-color: var(--main-bg-color);
}
/* --------------------------------------TEAM------------------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team-list-item {
  background-color: var(--card-bg-color);
}

.team-member {
  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  color: var(--title-color);
}

.team-member-desc {
  font-size: 16px;
  line-height: calc(19 / 16);
}

/* --------------------------------------FOOTER------------------------------- */
.footer {
  background-color: #2f303a;
}
.footer-logo {
  font-family: "Raleway", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  color: #ffffff;
}

.address {
  font-style: normal;
  color: #ffffff;
}

/* --------------------------------------PORTFOLIO------------------------------- */
.portfolio {
  background-color: var(--main-bg-color);
}

.portfolio-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
}
.portfolio-item {
  background-color: var(--card-bg-color);
}

.portfolio-item-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
}
