:root {
  --main-text-color: #757575;
  --secondary-text-color: #212121;
  --title-color: #212121;
  --accent-color: #2196f3;
  --secondary-bg-color: #f5f4fa;
  --main-bg-color: #e5e5e5;
  --item-bg-color: #ffffff;
}

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: var(--main-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.list {
  list-style: none;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding-left: 0;
}

.link {
  text-decoration: none;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  letter-spacing: 0.03em;
  text-align: center;
  color: var(--title-color);
}

.logo-color {
  color: #2196f3;
}
/* ------------------------------------HEADER------------------------------------ */
.header {
  font-weight: 500;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  background-color: #ffffff;
  align-items: center;
  border-bottom: 1px solid #ececec;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  display: flex;
  margin-top: 32px;
}
.header-link {
  display: block;
  font-style: inherit;
  color: var(--secondary-text-color);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-link:hover,
.header-link:focus {
  color: var(--accent-color);
}

.header-logo {
  display: block;
  margin-top: 24px;
  margin-bottom: 25px;
  margin-right: 93px;

  font-family: "Raleway", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.header-list-item {
  display: block;
  position: relative;
  margin-right: 50px;
  padding-bottom: 32px;
}

.header-list-item:last-child {
  margin-right: 0;
}

.header-list-contact {
  display: block;
  margin-right: 50px;
}

.header-list-contact:last-child {
  margin-right: 0;
}

.current {
  color: var(--accent-color);
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;

  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header-list {
  margin-left: auto;
}

.header-contact-list {
  margin-left: auto;
  display: flex;
}

.header-contacts {
  display: flex;
  font-weight: 500;
  line-height: calc(16 / 14);
  letter-spacing: 0.02em;
  color: var(--main-text-color);
  align-items: center;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.header-contact-item {
  margin-right: 50px;
  display: flex;
  align-items: center;
}

.header-contact-item:last-child {
  margin-right: 0;
}

.header-list-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header-contacts:hover,
.header-contacts:focus {
  color: var(--accent-color);
}

.header-list-icon:hover,
.header-list-icon:focus {
  fill: currentColor;
}
/* --------------------------------------HERO------------------------------- */
.hero {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #2f303a;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/hero-bg.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-title {
  max-width: 696px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-btn {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 32px;

  border: transparent;
  border-radius: 4px;

  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--accent-color);
  cursor: pointer;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  color: var(--accent-color);
  background-color: var(--item-bg-color);
}

/* --------------------------------------Features------------------------------- */
.features {
  /* background-color: var(--main-bg-color); */
  padding-top: 94px;
}

.features .container {
  display: flex;
}

.features .list {
  display: flex;
}

.features-list-item {
  margin-right: 30px;
  width: 270px;
}

.features-list-item:last-child {
  margin-right: 0;
}

.features-thumb {
  display: flex;
  width: 270px;
  height: 120px;
  background-color: rgba(245, 244, 250, 1);
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  border-radius: 4px;
}

.features-icon {
  width: 70px;
  height: 70px;
}

.features-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--title-color);
  margin-bottom: 10px;
}
.features-text {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
/* --------------------------------------ABOUT------------------------------- */

.about {
  /* background-color: var(--main-bg-color); */
}

.about-list {
  display: flex;
  margin-top: 50px;
}

.about-list-item {
  display: block;

  margin-right: 30px;
}

.about-list-item:last-child {
  margin-right: 0;
}

.about-box {
  position: relative;
}

.about-img {
  display: block;
}

.about-box-text {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  min-height: 70px;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  background-color: rgba(47, 48, 58, 0.8);
}
/* --------------------------------------TEAM------------------------------- */

.team {
  background-color: var(--secondary-bg-color);
}

.team .section-title {
  margin-bottom: 50px;
}

.team-list {
  display: flex;
  justify-content: center;
}

.team-list-item {
  width: 270px;
  margin-right: 30px;

  text-align: center;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  background-color: var(--item-bg-color);
}

.team-list-item:last-child {
  margin-right: 0;
}

.team-text {
  padding-top: 30px;
  margin-bottom: 16px;
}

.team-member {
  margin-bottom: 10px;

  font-weight: 500;
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
  color: var(--title-color);
}

.team-member-photo {
  display: block;
}

.team-member-desc {
  font-size: 16px;
  line-height: calc(19 / 16);
  letter-spacing: 0.03em;
}

.socials-list {
  display: flex;
  margin: 0 auto 30px auto;
  justify-content: center;
}

.socials-item {
  margin-right: 10px;
  background-color: #ffffff;
}

.social-link {
  display: block;
  border-radius: 50%;
  color: #ffffff;
  fill: rgba(175, 177, 184, 1);
  padding: 12px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  width: 20px;
  height: 20px;

  display: block;
}

.social-link:hover,
.social-link:focus {
  background-color: var(--accent-color);
  fill: currentColor;
  outline: none;
}

.socials-item:last-child {
  margin-right: 0;
}

/* -----------------------------------------Clients------------------------------- */
.clients {
  padding: 94px 0;
}

.clients-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: calc(42 / 36);
  text-align: center;
  letter-spacing: 0.03em;

  color: var(--secondary-text-color);
}

.clients-list {
  display: flex;
}

.client-item {
  display: flex;
  margin-right: 30px;
  width: 170px;
  height: 92px;
}

.client-item:last-child {
  margin-right: 0;
}

.client-link {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 100%;
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.client-link:hover,
.client-link:focus {
  /* fill: currentColor; */
  color: var(--accent-color);
  border-color: var(--accent-color);
  outline: none;
}

.client-icon {
  display: block;
  width: 106px;
  height: 60px;
  fill: currentColor;
}

/* --------------------------------------FOOTER------------------------------- */
.footer {
  background-color: #2f303a;
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .container {
  margin-right: auto;
  display: flex;
}

.credits {
  margin-right: 70px;
}

.footer-logo {
  display: block;
  margin-bottom: 20px;

  font-family: "Raleway", sans-serif;
  font-style: inherit;
  font-weight: 700;
  font-size: 26px;
  line-height: calc(31 / 26);
  letter-spacing: 0.03em;
  color: #ffffff;
}

.footer-contacts {
  display: block;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-contact-item {
  margin-bottom: 9px;
}

.footer-contact-item:last-child {
  margin-bottom: 0;
}

.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--accent-color);
}

.address {
  margin-bottom: 9px;
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
}

.invitation {
  margin-right: 93px;
}

.invitation-title {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-socials-list {
  display: flex;
}

.footer-socials-item {
  margin-right: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
}

.footer-socials-item:last-child {
  margin-right: 0;
}

.footer-social-link {
  display: block;
  border-radius: inherit;
  color: #ffffff;

  padding: 12px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-icon {
  width: 20px;
  height: 20px;
  fill: #ffffff;
  display: block;
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: var(--accent-color);
}

.subscribe {
}

.subscribe-text {
  margin-bottom: 20px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: #ffffff;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-right: 12px;
  padding-left: 16px;
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  color: #ffffff;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input:hover,
.footer-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.footer-submit-button {
  position: relative;
  padding: 0;
  width: 200px;
  height: 50px;
  text-align: start;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border-color: transparent;
  border: none;
}

.footer-button-text {
  padding-left: 29px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
}

.footer-submit-button::after {
  position: absolute;
  margin-left: 10px;
  right: 28;
  top: 50%;
  transform: translateY(-50%);
  content: "";
  width: 24px;
  height: 24px;
  background-image: url(../images/icon-send.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
/* --------------------------------------PORTFOLIO------------------------------- */
.portfolio {
  /* background-color: var(--main-bg-color); */
}

.button-list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
}

.button-list-item {
  margin-right: 8px;
}

.button-list-item:last-child {
  margin-right: 0;
}

.portfolio-btn {
  padding: 6px 22px;

  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;

  border-radius: 4px;
  border-color: transparent;
  color: var(--secondary-text-color);
  background-color: var(--secondary-bg-color);
  cursor: pointer;

  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: -15px;
}

.portfolio-btn:hover,
.portfolio-btn:focus {
  color: #ffffff;
  background-color: var(--accent-color);
  outline: none;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-item {
  margin: 15px;
  background-color: var(--item-bg-color);
  max-width: 370px;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover,
.portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-img-box {
  position: relative;
  overflow: hidden;
}

.portfolio-item-desc {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover .portfolio-item-desc,
.portfolio-item:focus .portfolio-item-desc {
  transform: translateY(0);
}

.portfolio-item-img {
  display: block;
}

.text-box {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio-item-title {
  margin-bottom: 4px;

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);
}

.portfolio-item-text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
}

.portfolio-item-text span {
  margin: 0;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  opacity: 0;
  transform: scale(0.8) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  opacity: 1;
  transform: scale(1) translate(-50%, -50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1),
    opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 528px;
  height: 581px;

  background: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-button {
  position: absolute;
  top: 0;
  right: 0;

  display: flex;
  margin-top: 8px;
  margin-right: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: #000000;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover,
.modal-button:focus {
  color: var(--accent-color);
}

.modal-icon {
  fill: currentColor;
  width: 18px;
  height: 18px;
}

.form-container {
  margin-top: 40px;
  width: 448px;
  margin-right: auto;
  margin-left: auto;
}

.form-text {
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: calc(23 / 20);
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

.modal-form {
}

.form-label {
  display: block;
  margin-bottom: 4px;

  font-size: 12px;
  line-height: calc(14 / 12);
  letter-spacing: 0.01em;
  color: var(--main-text-color);
}

.form-input {
  display: block;
  padding-left: 42px;
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover,
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}

.form-comment {
  display: block;
  margin-bottom: 20px;
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment:hover,
.form-comment:focus {
  border-color: var(--accent-color);
  outline: none;
}

.agreement-label {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.agreement-link {
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--accent-color);
}

.checkbox-input {
}

.form-button {
  display: block;
  width: 200px;
  height: 50px;
  margin-top: 30px;
  margin-right: auto;
  margin-left: auto;
  background-color: #188ce8;
  border-radius: 4px;
  border-color: transparent;
  border: none;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;

  color: #ffffff;
}

.form-button:hover,
.form-button:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.rel-wrap {
  position: relative;
  margin-bottom: 10px;
}

.label-icon {
  position: absolute;
  left: 12px;
  top: 50%;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .label-icon,
.form-input:focus + .label-icon {
  fill: var(--accent-color);
}

.checkbox-input:checked + .checkbox-icon {
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}
.checkbox-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
}

.checkbox-icon {
  position: relative;
  width: 16px;
  height: 15px;
  margin-right: 7px;
  align-items: center;
  justify-content: center;
  border: 2px solid black;
  border-radius: 2px;
}

.check {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
